@font-face {
    font-family: 'liberation Serif';
    src: url("fonts/liberation-serif/LiberationSerif-Regular.ttf")
}
header{
    font-family: 'liberation Serif', monospace;
    text-align: center;
    font-size: 2rem;
}
body{
    background: teal;
}
#background {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.container {
    background: rgba(30, 30, 30, 0.70);
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    padding: .4rem 1rem;
    z-index: 1;
    color: white;
}
.container a:link {
    color:lightgreen;
}
.container a:visited {
    color:coral;
}
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    max-width: 95%;
}
.prjects{
    text-align: left;
    font-size: 1rem;
    font-family: 'liberation Serif', monospace;
}
.about{
    text-align: center;
    font-family: 'liberation Serif', monospace;
    font-size: 1rem;
}
.haxxer-icons {
    height: 25px;
    width: auto;
}
img{
    visibility: visible;
    display: unset;
}