@font-face {
    font-family: 'liberation Serif';
    src: url("fonts/liberation-serif/LiberationSerif-Regular.ttf")
}
h1{
    font-family: 'liberation-serif', monospace;
    text-align: right;
    font-size: 3rem;
}
body{
    background: teal;
}
#background {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}